log syslog all;
router id 185.66.195.242;

protocol direct {
        interface "*";
};

protocol kernel {
        device routes;
        import all;
        export all;
        kernel table 42;
};

protocol device {
        scan time 8;
};

function is_default() {
        return (net ~ [0.0.0.0/0]);
};

filter is_private {
        if net ~ 10.0.0.0/8 then accept;
        if net ~ 172.16.0.0/12 then accept;
        reject;
};

filter hostroute {
        if net ~ 185.66.195.242/32 then accept;
        reject;
};

template bgp uplink {
        local as 201701;
        import where is_default();
        export filter hostroute;
        next hop self;
        multihop 64;
};

protocol bgp fra from uplink {
        source address 100.64.1.7;
        neighbor 100.64.1.6 as 201701;
        default bgp_med 1;
};

protocol bgp dus from uplink {
        source address 100.64.1.9;
        neighbor 100.64.1.8 as 201701;
        default bgp_med 2;
};

