# {{ ansible_managed }}

auto eth0
allow-hotplug eth0

iface eth0 inet static
  address 185.66.195.242
  netmask 28
  gateway 185.66.195.241

iface eth0 inet6 static
  address 2a03:2260:2000:1::2
  netmask 64
  gateway 2a03:2260:2000:1::1
